.button-container {
    margin: 2rem 0;
}

.button-link {
    text-decoration: none;
}

.button {
    padding: 1rem;
    background-color: #222;
    transition: background-color 240ms;
}

.button:hover {
    color: white;
    background-color: #36a9f4;
    transition: background-color 240ms;
}

.button-text {
    margin: 0 0.5rem;
}

.button-text:hover {
    text-decoration: underline;
}

.button-icon {
    vertical-align: middle;
    height: 1.5rem;
    filter: invert(100%);
}