* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  display: block;
  margin: 0;
  background-color: #111;
  color: white;
  font-family: "Roboto Flex", Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Spartan", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 1.7rem 0 1.5rem 0;
}

p {
  line-height: 1.4rem;
}

p img {
  max-width: 100%;
}

blockquote {
  margin: 2rem 0;
  padding: 2rem !important;
  border-left: solid #eee;
  border-width: 0.2rem;
  background-color: #222;
}

blockquote p, blockquote li {
  margin: 0;
  padding: 0.5rem 0;
  font-family: "EB Garamond", Times, serif;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.6rem;
}

blockquote ul {
  margin: 0;
}

.highlight {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem !important;
  background-color: #222;
}

.highlight pre {
  background-color: #222 !important;
  margin: 0;
}

a {
  color: white;
}

a:hover {
  color: #36a9f4;
  transition: color 240ms;
}

#content {
  background-color: #111;
}

#page-content {
  padding-top: 1px;
  padding-bottom: 1rem;
}

#page-content > table {
  width: 100%;
}

#page-content > ul {
  padding-left: 2rem !important;
}

#page-content > :not(.full-width) {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 50rem) {
  #page-content > :not(
    .full-width,
    .gallery,
    .grid,
    .highlight,
    .infosheet-container,
    .media-container,
    .table-container
  ){
    margin-left: 1rem;
    margin-right: 1rem;
  }
}