#hero-media {
    position: fixed;
    z-index: -1;
}

#hero-header-spacer {
    height: 7.3rem;
}

#hero-video-home, #hero-image-home {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#hero-image-page {
    object-fit: cover;
    width: 100vw;
    height: 16rem;
}

#hero-header-home, #hero-header-page {
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.8));
}

#hero-header-home {
    padding: 1rem;
    position: absolute;
    display: block;
    bottom: 0;
}

#hero-header-page {
    margin: auto;
    position: relative;
}

#hero-title-home, #hero-title-page {
    margin: 0;
}

#hero-title-page {
    text-align: center;
}

#hero-description {
    margin: 0.5rem 0 0 0;
    font-size: 0.8rem;
    color: #ddd;
}

#hero-spacer-home {
    height: 100vh;
}

#hero-spacer-page {
    height: 3rem;
}