.post {
    margin-bottom: 2rem;
}

.post a {
    text-decoration: none;
}

.post-image-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.post-image {
    object-fit: cover;
    width: 100%;
}