.gallery .media-container {
    margin-top: 0;
    margin-bottom: 0;
}

.media {
    width: 100%;
}

.image-media {
    display: block;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

@media screen and (max-width: 48rem) {
    .gallery, .media-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }