{{ define "main" }}
<div class="nav-spacer"></div>
{{ range .Pages.ByPublishDate.Reverse }}
{{ $post := . }}
<div class="post">
  <a href="{{ .RelPermalink | safeHTML -}}">
    <h1 class="post-title">{{ .Title }}</h1>
  </a>
  {{ if isset .Page.Params "cover" }}
  {{ with .Page.Resources.GetMatch .Page.Params.Cover }}
  <a href="{{ $post.RelPermalink | safeHTML -}}">
    <div class="post-image-container">
      <img src="{{ .RelPermalink | safeHTML -}}" class="post-image" alt="">
    </div>
  </a>
  {{ end }}
  {{ end }}
  <a href="{{ .RelPermalink | safeHTML -}}">
    <p>{{ .Summary | plainify | htmlUnescape }}</p>
  </a>
</div>
{{ end }}
{{ end }}
