{{ define "hero" }}
{{ if (isset .Params "heroimage") }}
{{ $placeholder := "/img/loading-content.png"}}
{{ $lowres := add (path.Join .RelPermalink .Page.Params.Heroimage) "-lowres.jpg" }}
{{ if fileExists $lowres }}
{{ $placeholder = $lowres }}
{{ end }}
<div id="hero">
  <div id="hero-media">
    <img data-src="{{ .Params.Heroimage }}" src="{{ $placeholder | safeHTML -}}" id="hero-image-page" class="lazy" />
  </div>
  <div id="hero-header-spacer"></div>
  <div id="hero-header-page">
    <h1 id="hero-title-page" class="title">{{ .Title }}</h1>
  </div>
  <div id="hero-spacer-page"></div>
</div>
{{ end }}
{{ end }}
{{ define "main" }}
{{ if not (isset .Params "heroimage") }}
<div class="nav-spacer"></div>
<h1 class="title">{{ .Title }}</h1>
{{ end }}
{{ if (isset .Params "infosheet")}}
{{ partial "infosheet.html" . }}
{{ end}}
{{ .Content }}
{{ end }}
