<div id="nav">
    <div id="nav-bar">
        <div id="nav-logo">
            <a class="nav-link" href="/">
                {{ if .Site.Params.Logo }}
                <img src="{{ .Site.Params.Logo }}" alt="{{ .Site.Title }}" />
                {{ else }}
                {{ .Site.Title }}
                {{ end }}
            </a>
        </div>
        <div id="nav-button">
            <div class="nav-button-bar nav-button-bar-1"></div>
            <div class="nav-button-bar nav-button-bar-2"></div>
            <div class="nav-button-bar nav-button-bar-3"></div>
        </div>
        <div id="nav-menu">
            <ul id="nav-list">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>