{{ define "hero" }}
{{ $placeholder := "/img/loading-content.png"}}
<div id="hero">
  <div id="hero-media">
    {{ if .Site.Params.Herovideo }}
    {{ if fileExists (add (path.Join "static" .Site.Params.Herovideo) "-lowres.jpg") }}
    {{ $placeholder = add .Site.Params.Herovideo "-lowres.jpg" }}
    {{ end }}
    <video playsinline autoplay muted loop id="hero-video-home" poster="{{ $placeholder | safeHTML -}}" class="lazy">
      <source data-src="{{ .Site.Params.Herovideo }}" type="video/mp4">
    </video>
    {{ else if .Site.Params.Heroimage }}
    {{ if fileExists (add (path.Join "static" .Site.Params.Herovideo) "-lowres.jpg") }}
    {{ $placeholder = add .Site.Params.Herovideo "-lowres.jpg" }}
    {{ end }}
    <img data-src="{{ .Site.Params.Heroimage }}" src="{{ $placeholder | safeHTML -}}" id="hero-image-home" class="lazy" />
    {{ end }}
  </div>
  <div id="hero-header-home">
    <h1 id="hero-title-home">{{ .Site.Title }}</h1>
    {{ if .Site.Params.Description }}
    <p id="hero-description">{{ .Site.Params.Description }}</p>
    {{ end }}
  </div>
  <script src="/js/hero.js"></script>
  <div id="hero-spacer-home"></div>
</div>
{{ end }}
{{ define "main" }}
{{ .Content }}
{{ end }}