{{ define "hero" }}
<div id="hero">
  <div id="hero-media">
    {{ if .Site.Params.Herovideo }}
    <video playsinline autoplay muted loop id="hero-video-home">
      <source src="{{ .Site.Params.Herovideo }}" type="video/mp4">
    </video>
    {{ else if .Site.Params.Heroimage }}
    <img src="{{ .Site.Params.Heroimage }}" id="hero-image-home" />
    {{ end }}
  </div>
  <div id="hero-header-home">
    {{ $banner := "" }}
    {{ if .Site.Params.Banner }}
      {{ $banner = .Site.Params.Banner }}
    {{ else }}
      {{ $banner = .Site.Title }}
    {{ end }}
    <h1 id="hero-title-home">{{ $banner }}</h1>
    {{ if .Site.Params.Description }}
    <p id="hero-description">{{ .Site.Params.Description }}</p>
    {{ end }}
  </div>
  <script src="/js/hero.js"></script>
  <div id="hero-spacer-home"></div>
</div>
{{ end }}
{{ define "main" }}
{{ .Content }}
{{ end }}