<div class="infosheet-container">
    <table class="infosheet-table">
        {{ with .Get "target" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label"></td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/bullseye.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
        {{ with .Get "contractor" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label">
                Contractor
            </td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/star.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
        {{ with .Get "format" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label">
                Format
            </td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/movie.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
        {{ with .Get "release" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label">
                Release
            </td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/calendar-badge.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
        {{ with .Get "awards" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label">
                Awards
            </td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/medal.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
        {{ with .Get "disciplines" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label">
                Disciplines
            </td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/palette.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
        {{ with .Get "software" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label">
                Software
            </td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/tools.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
        {{ with .Get "credits" | markdownify | safeHTML }}
        <tr class="infosheet-row">
            <td class="infosheet-cell infosheet-label">
                Credits
            </td>
            <td class="infosheet-cell infosheet-iconcell">
                <img src="/icons/account-group.svg" class="infosheet-icon" />
            </td>
            <td class="infosheet-cell infosheet-content">
                {{ . }}
            </td>
        </tr>
        {{ end }}
    </table>
</div>